$dark_01: #121212;
$dark_02: #242424;
$dark_03: #313131;
$dark_04: #4e4e4e;

$blueBackground: #ceddf2;
$blueTextColor: #2e8cff;

$redBackground: #f1d5dc;
$redTextColor: #ff4c79;

$purpleBackground: #dbd7f2;
$purpleTextColor: #7857ff;

$yellowBackground: #eee7d1;
$yellowTextColor: #eab934;

$cyanBackground: #c8e8ed;
$cyanTextColor: #00c2e0;

$greenBackground: #c8e7e4;
$greenTextColor: #00b8a8;

$pinkBackground: #f1d0e8;
$pinkTextColor: #ff29c2;

$orangeBackground: #f0e5d9;
$orangeTextColor: #f6b065;

$darkYellow: #d6be1f;
$darkShadowYellow: #eae2a6;
$darkBackgroundYellow: #f4f2e2;

$darkGreen: #12c309;
$darkShadowGreen: #a0e49d;
$darkBackgroundGreen: #dff2df;

$darkPurple: #8952ff;
$darkShadowPurple: #cdb8fb;
$darkBackgroundPurple: #ece6f9;

$darkViolet: #617eff;
$darkShadowViolet: #bfcafb;
$darkBackgroundViolet: #e8ebf9;

$darkShadowBlue: #adcffb;
$darkBackgroundBlue: #e2ecf9;
$darkBlue: #2e8cff;

$darkGreen: #04be61;
$darkShadowGreen: #a2e4c4;
$darkBackgroundGreen: #def2e9;

$darkHighBlue: #05acff;
$darkShadowHighBlue: #9bdbfb;
$darkBackgroundHighBlue: #def0f9;

$darkPink: #f838ff;
$darkShadowPink: #f8aefb;
$darkBackgroundPink: #f8e3f9;

$darkRed: #ff575f;
$darkShadowRed: #fabbbf;
$darkBackgroundRed: #f8e7e9;

$darkCyan: #00c2bb;
$darkShadowCyan: #9ae3e1;
$darkBackgroundCyan: #def2f2;